@font-face {
  font-family: 'Big Noodle Titling';
  font-style: normal;
  font-weight: 400;
  src: 
       url('./fonts/big_noodle_titling-webfont.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/big_noodle_titling-webfont.woff') format('woff'), /* Modern Browsers */
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Big Noodle Titling';
  background-image: url('https://nerdstore.vteximg.com.br/arquivos/gtav-1.jpg');
  background-size: 100vw;
}

code {
  font-family: 'Big Noodle Titling';
}
